.wrapper__select {
    background-color: var(--colors-ui-base);
    border-radius: var(--radii);
    box-shadow: var(--shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    border-radius: var(--radii);
    height: 49px;
}

.wrapper__select .css-1fdsijx-ValueContainer {
    padding: 0 2rem;
}

.wrapper__select .css-b62m3t-container {
    width: 100%;
    background-color: var(--colors-ui-base);
}

.wrapper__select .css-13cymwt-control {
    border-style: none;
    background-color: var(--colors-ui-base);
    border-radius: var(--radii);
}

.wrapper__select .css-1dimb5e-singleValue {
    color: var(--colors-text);
    font-size: var(--fs-sm);
}

.wrapper__select .css-1u9des2-indicatorSeparator {
    display: none;
}

.wrapper__select .css-1nmdiq5-menu {
    background-color: var(--colors-ui-base);
    color: var(--colors-text);
    font-size: var(--fs-sm);
    padding: 1rem 2rem;
    margin-bottom: 1rem;
}

.css-1nmdiq5-menu:hover {
    background-color: var(--colors-ui-base);

}

.wrapper__select .css-t3ipsp-control {
    border: none;
    box-shadow: none;
    background-color: var(--colors-ui-base);
}

.wrapper__select .css-1jqq78o-placeholder {
    color: var(--colors-text);
    font-size: var(--fs-sm);
}